<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <title>Club Manager</title>
   <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
   <link href="{{ STATIC_URL }}css/login_styles.css" rel="stylesheet" type="text/css"/>
   <link href="{{ STATIC_URL }}css/buttons.css" rel="stylesheet" type="text/css"/>
   <link href="{{ STATIC_URL }}css/clouds.css" rel="stylesheet" type="text/css"/>
</head>


<body>
<div id="clouds">
	<div class="cloud x1"></div>
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
</div>
{% load i18n %}
{% block content %}
{% endblock %}

</body>
</html>
