{% extends "index.html" %}{% block content %}
{% load i18n %}
    <h1>&nbsp;</h1>
    <h2>{% trans "Aircrafts" %}</h2><a href="/aircraft/create/" class="btna btnrf" title="{% trans 'Add new aircraft' %}">&nbsp;</a>
    <fieldset>
        <table id="sortedTable" class="tablesorter">

            <thead>
            <tr>
                <th>{% trans "Make" %}</th>
                <th>{% trans "Model" %}</th>
                <th>{% trans "Registration" %}</th>
                <th>{% trans "Contest number" %}</th>
                <th class="ths">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
{% for object in object_list %}
            <tr>
               <td><a href="/aircraft/update/{{ object.pk }}">{{ object.make }}</a></td>
               <td><a href="/aircraft/update/{{ object.pk }}">{{ object.model }}</a></td>
               <td><a href="/aircraft/update/{{ object.pk }}">{{ object.registration }}</a></td>
               <td><a href="/aircraft/update/{{ object.pk }}">{{ object.competition_number }}</a></td>
               <td class="tds"><a href="/aircraft/update/{{ object.pk }}" class="btne" title="{% trans 'Edit' %}">&nbsp;</a></td>
            </tr>
{% endfor %}
            </tbody>
            <tfoot>

            <tr>
                <td colspan="10"></td>
            </tr>
            </tfoot>
        </table>
    </fieldset>
{% endblock %}