{% extends "index.html" %}{% block content %}
{% load i18n %}
    <h2>{% trans "Manage flight" %}</h2>
    <h1>&nbsp;</h1>
    
<form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
   {% include "base_form.html" %}
   <label for="submit"></label>
   <input type="submit" id="submit" class="button white" value="{% trans 'Save' %}" />
</form>
<br/>
<br/>
{% if flight.igc_file %}
<a class="button white" href="http://www.victorb.fr/visugps/visugps.html?track={{ MEDIA_URL }}{{ flight.igc_file }}">{% trans "Display IGC file" %}</a>
{% endif %}
<br/>
<br/>

{% endblock %}