{% extends "index.html" %}{% block content %}
{% load i18n %}
     {% if organisation %}
         <h2>{{ organisation.name }} - {% trans "Club administration page" %}</h2>
     {% else %}
         <h2>{% trans "Club administration page" %}</h2>
     {% endif %}
    <h1>&nbsp;</h1>

    <div>
        {% if organisation %}
            <a href="/logbook/sailplane/list/" class="btn-admin">{% trans "Sailplane Logbook" %}</a>
            <a href="/logbook/powered/list/" class="btn-admin">{% trans "Powered Aircraft Logbook" %}</a>
            <a href="/reports/" class="btn-admin">{% trans "Reports" %}</a>
            <a href="/member/list/" class="btn-admin">{% trans "Pilots" %}</a>
            <a href="/aircraft/list/" class="btn-admin">{% trans "Airplanes" %}</a>
            <a href="/purpose/list/" class="btn-admin">{% trans "Flight purposes" %}</a>
            <a href="/organisation/update/{{ organisation.pk }}" class="btn-admin">{% trans "Club" %}</a>
        {% else %}
            <a href="/organisation/create/" class="btn-admin">{% trans "Create a new club" %}</a>
        {% endif %}
    </div>
{% endblock %}